////////////////////////////////////////
// LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

////////////////////////////////////////
// SEARCH
.search {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-grey-light-2);
    }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        width: 90%;
        padding: 0.7rem 2rem;
        border: none;
        border-radius: 100px;
        background-color: var(--color-grey-light-2);
        transition: all 0.2s;
        margin-right: -3.25rem;

        &:focus {
            width: 100%;
            outline: none;
            background-color: var(--color-grey-light-3);
        }

        &:-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus+&__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        transition: all 0.2s;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: var(--color-grey-dark-2);
    }
}

////////////////////////////////////////
// USER NAVIGATION
.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;

    &>* {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
            background-color: var(--color-grey-light-2);
        }
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        width: 2.25rem;
        height: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        width: 1.75rem;
        height: 1.75rem;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        border-radius: 50%;
        font-size: 0.8rem;
        color: #fff;
        background-color: var(--color-primary);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user {
        &-photo {
            height: 3.75rem;
            border-radius: 50%;
            margin-right: 1rem;
        }
    }
}

////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
        display: flex;
        margin: 0;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 0.5rem;

            @media only screen and (max-width: $bp-medium) {
                margin: 0;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            flex: 1;
        }

        &::before {
            content: "";
            width: 3px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--color-primary);
            transform: scaleY(0);
            transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
            //   transform-origin: bottom;
        }

        &:hover {
            &::before {
                transform: scaleY(1);
                width: 100%;
            }
        }
    }

    &__link {

        &,
        &:link,
        &:visited {
            font-size: 1.4rem;
            color: #fff;
            padding: 1.5rem 3rem;
            text-decoration: none;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 10;
            transition: background-color 0.1s;

            @media only screen and (max-width: $bp-medium) {
                justify-content: center;
                padding: 2rem;
            }

            @media only screen and (max-width: $bp-small) {
                flex-direction: column;
                padding: 1.5rem .5rem;
            }
        }

        &:active {
            background-color: var(--color-primary-light);
        }
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;

        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
            margin-bottom: .7rem;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

////////////////////////////////////////
//LEGAL TEXT
.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
}

////////////////////////////////////////
//Gallery
.gallery {
    display: flex;

    &__photo {
        display: block;
        width: 100%;
    }
}

////////////////////////////////////////
//OverView
.overview {
    display: flex;
    border-bottom: var(--line);
    background-color: #fff;
    align-items: center;

    &__heading {
        font-size: 2.25rem;
        letter-spacing: 1px;
        font-weight: 300;
        padding: 1.5rem 3rem;
        text-transform: uppercase;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        }
    }

    &__stars {
        margin-right: auto;
        display: flex;
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: var(--color-primary);
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        align-self: stretch;
        color: #fff;
        margin-left: 3rem;
        padding: 0 2.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-small) {
            padding: 0 1.5rem;
        }

        &-average {
            font-size: 2.25rem;
            font-weight: 300;
            margin-bottom: -3px;

            @media only screen and (max-width: $bp-small) {
                font-size: 1.8rem;
            }
        }

        &-count {
            font-size: .8rem;
            text-transform: uppercase;

            @media only screen and (max-width: $bp-small) {
                font-size: .5rem;
            }
        }
    }
}

.btn-inline {
    border: none;
    background-color: transparent;
    font-size: inherit;
    color: var(--color-primary);
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    cursor: pointer;
    transition: all .2s;

    & span {
        margin-left: 4px;
        transition: margin-left .2s;
        position: relative;
    }

    &:hover {
        color: var(--color-grey-dark-1);

        span {
            margin-left: 10px;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }


}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: var(--shadow-light);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

////////////////////////////////////////
//paragraph
.paragraph {
    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }
}

////////////////////////////////////////
//list
.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;

        &::before {
            content: "";
            display: inline-block;
            height: 1rem;
            width: 1rem;
            margin-right: .7rem;
            // Older browsers
            background-image: url(../img/chevron-thin-right.svg);
            background-size: cover;

            //Newer browsers - masks
            @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                background-color: var(--color-primary);
                -webkit-mask-image: url(../img/chevron-thin-right.svg);
                -webkit-mask-size: cover;
                mask-image: url(../img/chevron-thin-right.svg);
                mask-size: cover;
                background-image: none;
            }
        }
    }
}

////////////////////////////////////////
//recommend
.recommend {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);

    &__count {
        margin-right: auto;
    }

    &__friends {
        display: flex;
    }

    &__photo {
        width: 4rem;
        height: 4rem;
        border: 3px solid #fff;
        border-radius: 50%;
        box-sizing: content-box;

        &:not(:last-of-type) {
            margin-right: -2rem;
        }
    }
}

////////////////////////////////////////
//review
.review {
    box-shadow: var(--shadow-light);
    background-color: #fff;
    font-size: 1.4rem;
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-bottom: 3rem;
    }

    &::before {
        content: "\201C";
        color: var(--color-grey-light-2);
        font-size: 20rem;
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        font-family: sans-serif;
        line-height: 1;
        z-index: 1;
    }

    &__text {
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
    }

    &__user {
        display: flex;
        align-items: center;

        &-name {
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: .4rem;
        }

        &-date {
            font-size: 1rem;
            color: var(--color-grey-dark-3);
        }
    }

    &__photo {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__user-box {
        margin-right: auto;
    }

    &__rating {
        color: var(--color-primary);
        font-size: 2.2rem;
        font-weight: 300;
    }
}


////////////////////////////////////////
// CALL TO ACTION
.cta {
    padding: 3.5rem 0;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
        padding: 2.5rem 0;
    }

    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}

////////////////////////////////////////
// CALL TO ACTION
.btn {
    border: none;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &>* {
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: all .2s;
    }

    &__visible {
        padding: 2rem 7.5rem;
    }

    &__invisible {
        position: absolute;
        top: -100%;
        left: 0;
        padding: 2rem 0;
    }

    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:hover &__invisible {
        top: 0;
    }

    &:hover &__visible {
        transform: translateY(100%);
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}